version: 2
jobs:
  build_package:
    docker:
      - image: circleci/python:3.6.1
    steps:
      - checkout

      - run:
          name: install dependencies
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip install -r requirements.txt

      - save_cache:
          paths:
            - ./venv
          key: v1-dependencies-{{ checksum "requirements.txt" }}

      - run:
          name: create pip package
          command: |
            . venv/bin/activate
            python3 setup.py sdist bdist_wheel
            twine upload --repository-url https://test.pypi.org/legacy/ dist/* -u ${USERNAME} -p ${PASSWORD}
  run_tests:
    docker:
      - image: circleci/python:3.6.1
    steps:
      - checkout

      - run:
          name: install dependencies
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip install -r requirements.txt

      - save_cache:
          paths:
            - ./venv
          key: v1-dependencies-{{ checksum "requirements.txt" }}
      
      - run:
          name: run tests
          command: |
            pytest
workflows:
  version: 2
  main:
    jobs:
    - build_package:
        requires:
          - run_tests
        filters:
          tags:
            only: /v[0-9]+(\.[0-9]+)*/
  test:
    jobs:
      - run_tests
